[Desktop Entry]
Version=1.0.0
Name=eling
GenericName=eling
Comment=Eling - A productivity and finance tracking app built with Flutter.
Terminal=false
Type=Application
Categories=Utility;
Keywords=Flutter;
Icon=eling
